@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Nunito";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  padding-right: 17px;
}

.wrapper {
  background: url("../img/123.jpg") 0 0 no-repeat fixed;
  background-size: 100vw;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.page__container {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(25.575px);
          backdrop-filter: blur(25.575px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(25.575px);
          backdrop-filter: blur(25.575px);
  padding: 100px;
  width: 100%;
  max-width: 1200px;
  border-radius: 30px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__text {
  margin: 70px 0px 0px 0px;
  border: 3.25px solid rgba(251, 55, 255, 0.2);
  -webkit-box-shadow: inset -0.325px 0.65px 0.325px rgba(255, 255, 255, 0.5);
          box-shadow: inset -0.325px 0.65px 0.325px rgba(255, 255, 255, 0.5);
  -webkit-filter: drop-shadow(0px 5px 6.5px #990099) drop-shadow(0px 3.25px 2.5px rgba(77, 0, 66, 0.7));
          filter: drop-shadow(0px 5px 6.5px #990099) drop-shadow(0px 3.25px 2.5px rgba(77, 0, 66, 0.7));
  border-radius: 60px;
  position: relative;
  min-height: 550px;
}

.popup__icon {
  position: absolute;
  -webkit-transform: translate(-20px, -22px);
      -ms-transform: translate(-20px, -22px);
          transform: translate(-20px, -22px);
  top: 0;
  left: 0;
}

.popup__icon img {
  width: 144px;
  height: 144px;
}

.popup__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin: 50px 0px 0px 180px;
}

.popup__item {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */
  color: #FFFFFF;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  margin: 0px 0px 50px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 746px;
  height: 148px;
  z-index: 2;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  margin: 100px 0px 0px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 100px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(25.575px);
          backdrop-filter: blur(25.575px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px 30px 0px 0px;
}

.menuf__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuf__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.menuf__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  left: 0;
  top: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menuf__link:hover::after {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px #E734C3;
          box-shadow: 0px 0px 10px #E734C3;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.top__fitback {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  text-align: justify;
  text-transform: uppercase;
  max-width: 323px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.top__fitback::after {
  content: "";
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  -webkit-filter: blur(0.321528px);
          filter: blur(0.321528px);
  border-radius: 9px;
  background: #fff;
  -webkit-box-shadow: 3px 5px 3px rgba(14, 0, 21, 0.7);
          box-shadow: 3px 5px 3px rgba(14, 0, 21, 0.7);
}

.top__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #E734C3;
}

.top__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top__btn {
  margin: 100px 0px 0px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 10;
  background: rgba(201, 24, 24, 0.4);
  -webkit-box-shadow: inset 3.35333px -3.35333px 3.35333px rgba(55, 28, 28, 0.368), inset -3.35333px 3.35333px 3.35333px rgba(255, 255, 255, 0.368);
          box-shadow: inset 3.35333px -3.35333px 3.35333px rgba(55, 28, 28, 0.368), inset -3.35333px 3.35333px 3.35333px rgba(255, 255, 255, 0.368);
  -webkit-backdrop-filter: blur(6.37133px);
          backdrop-filter: blur(6.37133px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.top__btn::before {
  content: url("../img/before.png");
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top__btn::after {
  content: url("../img/after.png");
  position: absolute;
  z-index: -1;
  top: 0;
  left: 100%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top__btn:hover {
  -webkit-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

.top__btn:hover::before {
  -webkit-transform: translate(-70%, 0px);
      -ms-transform: translate(-70%, 0px);
          transform: translate(-70%, 0px);
}

.top__btn:hover::after {
  -webkit-transform: translate(-30%, 0px);
      -ms-transform: translate(-30%, 0px);
          transform: translate(-30%, 0px);
}

.top__sociales {
  position: absolute;
}

.top__global {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.4%;
          flex: 0 1 39.4%;
  position: relative;
  background: url("../img/global.png") 0 0 no-repeat;
}

.top__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 476px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.68);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
}

.menu {
  position: absolute;
  width: 456px;
  height: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  position: absolute;
  left: 19%;
  list-style: none;
  -webkit-transform: 0.5s;
      -ms-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(calc(60deg * var(--i))) translateX(210px);
      -ms-transform: rotate(calc(60deg * var(--i))) translateX(210px);
          transform: rotate(calc(60deg * var(--i))) translateX(210px);
  -webkit-transform-origin: 140px;
      -ms-transform-origin: 140px;
          transform-origin: 140px;
}

.menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(calc(-60deg * var(--i)));
      -ms-transform: rotate(calc(-60deg * var(--i)));
          transform: rotate(calc(-60deg * var(--i)));
}

.menu li:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page__tg {
  margin: 100px 0px 0px 0px;
}

.tg__title {
  border: 3px solid #FFFFFF;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #E734C3;
  padding: 10px 20px;
  display: inline;
  border-radius: 5px 20px 0px 0px;
  border-bottom: none;
}

.list {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid #FFFFFF;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item:last-child {
  border-bottom: 3px solid #FFFFFF;
}

.list__info {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__info img {
  width: 64px;
  height: 64px;
}

.list__count {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  text-transform: lowercase;
  color: #FFFFFF;
}

.list__price {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  text-transform: lowercase;
  color: #FFFFFF;
}

.list__btn {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #91198C;
  border: #91198C;
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid #91198C;
  -webkit-box-shadow: 0px 0px 1px #fff;
          box-shadow: 0px 0px 1px #fff;
  text-shadow: 0px 0px 1px #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list__btn:hover {
  color: #30748C;
  border: #30748C;
  border: 2px solid #30748C;
  -webkit-box-shadow: 0px 0px 3px #fff;
          box-shadow: 0px 0px 3px #fff;
}

.page__tags {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

.tags__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  position: relative;
}

.tags__cloud {
  position: absolute;
  top: -44px;
  right: -44px;
  width: 88px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(153, 0, 153, 0.25);
  -webkit-box-shadow: inset 1.17333px -1.17333px 1.17333px rgba(182, 182, 182, 0.398), inset -1.17333px 1.17333px 1.17333px rgba(255, 255, 255, 0.398);
          box-shadow: inset 1.17333px -1.17333px 1.17333px rgba(182, 182, 182, 0.398), inset -1.17333px 1.17333px 1.17333px rgba(255, 255, 255, 0.398);
  -webkit-backdrop-filter: blur(7.92px);
          backdrop-filter: blur(7.92px);
  border-radius: 50%;
}

.tags__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  text-transform: capitalize;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #E734C3;
  border-bottom: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  border-radius: 0px 0px 21px 0px;
  padding: 10px 50px;
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 302px;
}

.tags__items {
  margin: 30px 0px 100px 0px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags__item {
  background: rgba(213, 48, 183, 0.165);
  -webkit-box-shadow: inset 8.3px -8.3px 8.3px rgba(162, 36, 139, 0.165), inset -8.3px 8.3px 8.3px rgba(255, 255, 255, 0.165);
          box-shadow: inset 8.3px -8.3px 8.3px rgba(162, 36, 139, 0.165), inset -8.3px 8.3px 8.3px rgba(255, 255, 255, 0.165);
  -webkit-backdrop-filter: blur(8.3px);
          backdrop-filter: blur(8.3px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 5px 40px 5px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags__icon {
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #7DFFFF;
  color: #7DFFFF;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  text-transform: lowercase;
  color: #7DFFFF;
  text-shadow: 0px 0px 5px #36E6E6;
}

.tags__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  text-transform: lowercase;
  color: #FFFFFF;
}

.tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.tags__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tags__point::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 100%;
}

.tags__info {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  padding-left: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tags__date {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
}

.page {
  margin: 100px 0px 0px 0px;
}

.about {
  padding: 50px;
}

.about__container {
  position: relative;
}

.about__container span {
  position: absolute;
  width: 37px;
  height: 37px;
}

.about__container span img {
  width: 100%;
}

.about__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
}

.about__text p {
  display: inline;
}

.about__text strong {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px rgba(51, 233, 233, 0.94);
}

.up-left {
  top: -30px;
  left: -30px;
}

.up-right {
  top: -30px;
  right: -30px;
}

.bottom-left {
  bottom: -30px;
  left: -30px;
}

.bottom-right {
  bottom: -30px;
  right: -30px;
}

@media (max-width: 76.875em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}